html{
    scroll-behavior: smooth;
}
body {
    background:
    url("../images/design/page-bg.png") repeat;
    color: $foreground-color;
    font-family: $any-pro;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    
  }

header {
    color: $caption-color;
    padding: 60px 0px 0px 0px;
    background-size: 160px;
    min-width: 800px;
    max-width: 100%;
    margin: 20px 0x;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    z-index: 999;
    
}
.navbar{
    li{
        margin: 0px;
        padding: 0px;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.5px;

    }
    a{
    text-decoration: none;
    color: black;
    }
    .nav-line{
        margin: 20px;
    }

}

.navbar ul{
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0px;
}

.navbar ul li{
    display: inline-block;
    padding: 0 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.position-nav{
    position: fixed;
    z-index: 5;
    padding-left: 12%;
}
main {
    background-image:
    url("../images/design/perun.jpg") ;
    background-repeat: no-repeat;
    background-position: 50% 0;
    color: $black;
    margin:20px auto;
    padding: 40px;
    min-width: 800px;
    max-width: 100%;
    text-align: center;
    z-index: 2;
}

.main1{
    color: $black;
    background-image: url("../images/content/galazka2-1.png");
    background-repeat: no-repeat;
    background-position: 90% 62%;
    background-color: #0F0C07;
    padding: 40px;
    min-width: 10%;
    max-width: 100%;
    text-align: center;
    z-index: 2;
}

.font-im-italic {
    font-size: 2.2em;
    font-style: italic;
    letter-spacing: -1.5px;
    font-family: $im-fe;
    font-weight: 400;
}
.font-im-italic2 {
    font-size: 6.875em;
    font-style: italic;
    letter-spacing: -1.5px;
    font-family: $im-fe;
    font-weight: 400;
    color: #BC8417;
    text-align: left;
}

.font-im-regular {
    font-size: 2.2em;
    font-style: normal;
    letter-spacing: -1.5px;
    font-family: $im-fe;
    font-weight: 400;
}
.font-im-regular2 {
    font-size: 11.0625em;
    font-style: normal;
    letter-spacing: -3px;
    font-family: $im-fe;
    font-weight: 400;
    position: relative;
    bottom: 80px;
    left: 46px;
}

strong{
    font-weight: 600;
}

footer {
    min-width: 800px;
    max-width: 100%;
    text-align: center;
    margin: 0px auto;
    background-color: #070603;


footer, span{
    opacity: 50%;
}

.col{
    line-height: 36px;
    font-size: 18px;
}

    .contact {
        width: 700px;
        background-color: blue;
        margin: 20px auto;
    }

  }


.btn1{
    overflow: visible;
    padding: 14px 32px;
    margin-top: 72px;
    margin-left: 0px;
    background-color: #BC8417;
    color: #fff;
    font-size: 1em;
    border: 1px solid #BC8417;
    font-weight: 600;
    font-family: $any-pro;
    letter-spacing: -0.5px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}
.btn1:hover{
    background-color: #0f0c07;
    border: 1px solid #0f0c07;
}

.btn2{
    padding: 14px 32px;
    padding-left: 24px;
    margin-left: 16px;
    margin-right: 24px;
    background-color: transparent;
    color: #000000;
    font-family: $any-pro;
    font-weight: bold;
    border: 1px solid #0f0c07;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}
.btn2:hover{
    background-color: #0f0c07;
    color: #fff;
}

.korzen{
    position: relative;
    left: 520px;
    top: 40px;
    z-index: 4;
}

.txt{
    transform: rotate(-90deg);
    position: relative;
    left: 178px;
    top: 110px;
    color: #CCC2B6;
    z-index: 3;
    letter-spacing: -1.5px;
    font-family: $im-fe;
    margin: 0;
    padding: 0;
    font-size: 9em;
    color: rgba(0, 0, 0, 0.0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #CCC2B6;
}



.main-image-left{
    position: absolute;
    z-index: 0;
    top: 150px;
    left: 150px;
    width: 570px;
    height: 820px;
}
.main-image-right{
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 615px;
    width: 570px;
    height: 820px;
}
.main-logo-center{
    position: absolute;
    z-index: 1;
    top: 300px;
    left: 385px;
}
.main-logo-over-right{
    position: absolute;
    z-index: 3;
    top: -90px;
    left: 780px;
    height: 177px;
    width: 123px;
}

.images-container{
    position: relative;
    height: 800px;
}

.pytam{
    font-family: $im-fe;
    color: white;
    letter-spacing: -0.5px;
    font-size: 1.625em;
    font-weight: normal;
    position: absolute;
    padding-left: 880px;
    padding-right: 400px;
}

.p{
    color: #BC8417;
}

.images-container1{
    position: relative;
    height: 800px;
    display: grid;
    grid-template-columns: auto auto auto;
    
    img{
        padding: 0px 40px 40px;
        margin: auto;
        display: inline-block;
        vertical-align: middle;
        
    }
}

.main2{
    margin: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.content{
    position: relative;
    z-index: 5;
}
.fb-like{
    text-align: center;
}


.img-cont{
    position: relative;
}

.img1{
    position: absolute;
    z-index: 2;
    top: -340px;
    left: -140px;
}
.img2{
    position: absolute;
    z-index: 1;
    left: 10px;
}
.img3{
    position: absolute;
    z-index: 1;
    left: 1600px;
    top: -90px;
}
.img4{
    position: absolute;
    z-index: 2;
    left: 1400px;
}

.column {
  float: inherit;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  min-width: 100px;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
  bottom: 140px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.welesowy{
    padding: 20px 190px 80px 190px;
}

.welesowy-logo{
    justify-self: center;
    margin-left: 42%;
    padding: 30px 0 30px;
}

.btn4{
    padding: 14px 32px;
    padding-left: 24px;
    margin-left: 16px;
    margin-right: 24px;
    background-color: transparent;
    color: #fff;
    font-family: $any-pro;
    font-weight: 400;
    border: 1px solid #fff;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn4:hover{
    border-color: hsla(0, 0%, 100%, 0);
    background-color: #ee2e41;
}

.weles1{
    position: relative;
    left: 120px;
    bottom: 130px;
    z-index: 2;
}
.weles2{
    position: relative;
    left: 100px;
    bottom: 120px;
}
.weles3{
    position: relative;
    bottom: 520px;
    z-index: 3;

}
.bulwa{
    position: relative;
    right: 90px;
    bottom: 250px;
    z-index: 1;
}

.runa-red{
    position: relative;
    bottom: 150px;
    left: 220px;

}

/* ODkryj */


.odkryj-bg{
    background-image: url(../images/content/odkryj-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 608px;
}

.opis-odkryj{
    color: #000000;
    text-align: left;
    padding: 35px 210px 50px 0px;
}

.row-flex{
    display: flex;
}

.runa-odkryj{
    position: relative;
    left: 40%;
    bottom: 12.5%;
}

.carousel-cell {
	width: 30%;
}

.carousel-cell img {
	width: 100%;
	height: auto;
}

/* Ensures that Flickity waits until CSS has loaded to calculate the height of the cells */
.carousel:after {
  content: 'flickity';
  display: none; /* hide :after */
}

/* Kontakt */
.kontakt-bg{
    background-image: url(../images/content/kontakt-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 608px;
}

.kontakt-opis{
    text-align: left;
    padding: 35px 210px 50px 0px;
}

.galazka-kontakt{
    bottom: 5%;
    left: 72%;
    position: absolute;
}

.row-container{
    padding: 0 0 0 10%;
}