body {
    background:
    url("../images/design/page-bg.png") repeat;
    color: $foreground-color;
    font-family: $any-pro;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
  }

header {
    color: $caption-color;
    padding: 60px 30px 30px;
    background-size: 160px;
    min-width: 800px;
    max-width: 100%;
    margin: 20px 0x;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    z-index: 5;
}
.navbar{
    ul{
        display: grid;
        list-style-type: none;
        height: 100%;
        margin: 0;
        padding: 0px;
        grid-template-columns: 1fr 1fr 1.3fr 1fr 1fr 1fr 1fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr ;
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
        
    }
    li{
        margin: 0px;
        padding: 0px;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.5px;

    }
    a{
    text-decoration: none;
    color: black;
    }
    .nav-line{
        margin: 20px;
    }
    
}
main {
    background-image:
    url("../images/design/perun.jpg") ;
    background-repeat: no-repeat;
    background-position: 50% 0;
    color: $black;
    margin:20px auto;
    padding: 40px;
    min-width: 800px;
    max-width: 100%;
    text-align: center;
    z-index: 2;
}

.font-im-italic {
    font-size: 2.2em;
    font-style: italic;
    letter-spacing: -1.5px;
    font-family: $im-fe;
    font-weight: 400;
}
.font-im-italic2 {
    font-size: 6.875em;
    font-style: italic;
    letter-spacing: -1.5px;
    font-family: $im-fe;
    font-weight: 400;
}

.font-im-regular {
    font-size: 2.2em;
    font-style: normal;
    letter-spacing: -1.5px;
    font-family: $im-fe;
    font-weight: 400;
}
.font-im-regular2 {
    font-size: 11.0625em;
    font-style: normal;
    letter-spacing: -3px;
    font-family: $im-fe;
    font-weight: 400;
    position: relative;
    bottom: 80px;
    left: 46px;
}

strong{
    font-weight: 600;
}

footer {
    min-width: 800px;
    max-width: 100%;
    text-align: center;
    margin: 0px auto;
    background-color: #070603;


footer, span{
    opacity: 50%;
}

.col{
    line-height: 36px;
    font-size: 18px;
}

    .contact {
        width: 700px;
        background-color: blue;
        margin: 20px auto;
    }

  }


.btn1{
    overflow: visible;
    padding: 14px 32px;
    margin-top: 72px;
    margin-left: 0px;
    background-color: #BC8417;
    color: #fff;
    font-size: 1em;
    border: 1px solid #BC8417;
    font-weight: 600;
    font-family: $any-pro;
    letter-spacing: -0.5px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}
.btn1:hover{
    background-color: #0f0c07;
    border: 1px solid #0f0c07;
}

.btn2{
    padding: 14px 32px;
    padding-left: 24px;
    margin-left: 16px;
    margin-right: 24px;
    background-color: transparent;
    color: #000000;
    font-family: $any-pro;
    font-weight: bold;
    border: 1px solid #0f0c07;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}
.btn2:hover{
    background-color: #0f0c07;
    color: #fff;
}

.korzen{
    position: relative;
    left: 1450px;
    bottom: 640px;
    z-index: 2;
}

.txt{
    transform: rotate(-90deg);
    position: relative;
    left: 1200px;
    bottom: 490px;
    color: #CCC2B6;
    letter-spacing: -1.5px;
    font-family: $im-fe;
    margin: 0;
    padding: 0;
    font-size: 9em;
    color: rgba(0, 0, 0, 0.0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #CCC2B6;
}

.obraz1{
    position: relative;
    z-index: 0;
}
.sing2{
    position: relative;
    z-index: 1;
}
.obraz2{
    position: relative;
    z-index: 2;
}
.sign1{
    position: relative;
    z-index: 3;
}