html{
    scroll-behavior: smooth;
}
body {
    background:
    url("../images/design/page-bg.png") repeat;
    color: $foreground-color;
    font-family: $any-pro;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    
  }

header {
    color: $caption-color;
    padding: 60px 0px 0px 0px;
    background-size: 160px;
    min-width: 800px;
    max-width: 100%;
    margin: 20px 0x;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    z-index: 999;
    
}
.navbar{
    li{
        margin: 0px;
        padding: 0px;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.5px;

    }
    a{
    text-decoration: none;
    color: black;
    }
    .nav-line{
        margin: 20px;
    }

}

.navbar ul{
    list-style-type: none;
    height: 100%;
    margin: 0;
    padding: 0px;
}

.navbar ul li{
    display: inline-block;
    padding: 0 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.position-nav{
    position: fixed;
    z-index: 5;
    padding-left: 10%;
}
main {
    background-image:
    url("../images/design/perun.jpg") ;
    background-repeat: no-repeat;
    background-position: 50% 0;
    color: $black;
    margin:20px auto;
    padding: 40px;
    min-width: 800px;
    max-width: 100%;
    text-align: center;
    z-index: 2;
}



.font-im-italic {
    font-size: 2.2em;
    font-style: italic;
    letter-spacing: -1.5px;
    font-family: $im-fe;
    font-weight: 400;
}
.font-im-italic2 {
    font-size: 6.875em;
    font-style: italic;
    letter-spacing: -1.5px;
    font-family: $im-fe;
    font-weight: 400;
    color: #BC8417;
    text-align: left;
}

.font-im-regular {
    font-size: 2.2em;
    font-style: normal;
    letter-spacing: -1.5px;
    font-family: $im-fe;
    font-weight: 400;
}
.font-im-regular2 {
    font-size: 11.0625em;
    font-style: normal;
    letter-spacing: -3px;
    font-family: $im-fe;
    font-weight: 400;
    position: relative;
    bottom: 9%;
    left: 2%;
    text-align: left;
}

strong{
    font-weight: 600;
}

footer {
    min-width: 800px;
    max-width: 100%;
    text-align: center;
    margin: 0px auto;
    background-color: #070603;


footer, span{
    opacity: 50%;
}

.col{
    line-height: 36px;
    font-size: 18px;
}

    .contact {
        width: 700px;
        background-color: blue;
        margin: 20px auto;
    }

  }


.btn1{
    overflow: visible;
    padding: 14px 32px;
    margin-top: 72px;
    margin-left: 0px;
    background-color: #BC8417;
    color: #fff;
    font-size: 1em;
    border: 1px solid #BC8417;
    font-weight: 600;
    font-family: $any-pro;
    letter-spacing: -0.5px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}
.btn1:hover{
    background-color: #0f0c07;
    border: 1px solid #0f0c07;
}

.btn2{
    padding: 14px 32px;
    padding-left: 24px;
    margin-left: 16px;
    margin-right: 24px;
    background-color: transparent;
    color: #000000;
    font-family: $any-pro;
    font-weight: bold;
    border: 1px solid #0f0c07;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}
.btn2:hover{
    background-color: #0f0c07;
    color: #fff;
}

.korzen{
    position: relative;
    z-index: 4;
    left: 57%;
    bottom: 58%;
}

.txt{
    transform: rotate(-90deg);
    position: relative;
    color: #CCC2B6;
    z-index: 3;
    left: 40%;
    bottom: 50%;
    letter-spacing: -1.5px;
    font-family: $im-fe;
    margin: 0;
    padding: 0;
    font-size: 9em;
    color: rgba(0, 0, 0, 0.0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #CCC2B6;
}



.main-image-left{
    position: absolute;
    z-index: 0;
    left: 10%;
    top: 107%;

}
.main-image-right{
    position: absolute;
    z-index: 2;
    left: 44%;
    top: 90%;

}
.main-logo-center{
    position: relative;
    z-index: 1;
    left: 26%;
    bottom: 55%;  
    
}
.main-logo-over-right{
    position: absolute;
    z-index: 3;
    left: 55%;
    top: 80.5%;
    height: 177px;
    width: 123px;
}

.main1{
    color: $black;
    background-color: #0F0C07;
    min-width: 10%;
    max-width: 100%;
    text-align: center;
    z-index: 2;
    background-image: url(../images/content/galazka2-1.png);
    background-repeat: no-repeat;
    background-position: 76% 88%;
}

.pytam{
    font-family: $im-fe;
    color: white;
    letter-spacing: -0.5px;
    font-size: 1.625em;
    font-weight: normal;
    padding: 25% 28% 10% 10%;

}

.p{
    color: #BC8417;
}

.images-container1{
    height: 800px;
    
    img{
        padding: 0px 40px 40px;
        margin: auto;
        display: inline-block;
        vertical-align: middle;
        
    }
}



.fb-like{
    justify-content: center;

}

.powr-facebook-feed{
    padding: 0 10% 0 10%;

}



.btn4{
    padding: 14px 32px;
    padding-left: 24px;
    margin-left: 16px;
    margin-right: 24px;
    background-color: transparent;
    color: #fff;
    font-family: $any-pro;
    font-weight: 400;
    border: 1px solid #fff;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn4:hover{
    border-color: hsla(0, 0%, 100%, 0);
    background-color: #ee2e41;
}



/* ODkryj */


.odkryj-bg{
    background-image: url(../images/content/odkryj-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 608px;
}

.opis-odkryj{
    color: #000000;
    text-align: left;
    padding: 35px 210px 50px 0px;
}

.row-flex{
    display: flex;
}

.runa-odkryj{
    position: relative;
    left: 40%;
    bottom: 12.5%;
}

.carousel-cell {
	width: 30%;
}

.carousel-cell img {
	width: 100%;
	height: auto;
}

/* Ensures that Flickity waits until CSS has loaded to calculate the height of the cells */
.carousel:after {
  content: 'flickity';
  display: none; /* hide :after */
}

/* Kontakt */
.kontakt-bg{
    background-image: url(../images/content/kontakt-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 608px;
}

.kontakt-opis{
    text-align: left;
    padding: 35px 210px 50px 0px;
}

.galazka-kontakt{
    bottom: 5%;
    left: 72%;
    position: absolute;
}

.row-container{
    padding: 0 0 0 10%;
}

/* informacja turystyczna */

.if-bg{
    background-image: url(../images/content/if-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 608px;
}

.if-row-bg{
    background-color: #fff;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.if-zwiedzanie{
    background-image: url(../images/content/bg-if.png);
    background-repeat: no-repeat; 
    height: 700px;
    background-size: 100% 100%;   
}

/* szlak kulinarny */

.kulinarny-bg{
    background-image: url(../images/content/szlak2-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 608px;
}


/* Team Building */

.tb-bg{
    background-image: url(../images/content/TB-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 608px;
}


/* koło roku */

.kolo-bg{
    background-image: url(../images/content/kolo-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 608px;
}




/*  <script src="https://www.powr.io/powr.js?platform=webflow"></script>
                <div class="fb-like" data-href="https://www.facebook.com/perunica.sp.s" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="false"></div>
                */



/* Mobile */

.topnav {
    overflow: hidden;
    background-color: #0F0C07;
    z-index: 99;
  }
  
  .topnav a {
    display: block;
    color: #fff;
    font-family: $im-fe;
    font-style: italic;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 36px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    color: transparent;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
  }

  /* index mobile */

  .opis-title{
    letter-spacing: -0.5px;
    color: #0F0C07;
    font-weight: 500;
    padding: 5%;
  }

  .index-bg{
    background-image:
    url("../images/content/Mobile/perun.png") ;
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding-top: 50%;
    height: 928px;
  }

.btn1-mobile{
    overflow: visible;
    padding: 14px 22px;
    margin-top: 70px;
    margin-left: 0px;
    background-color: #BC8417;
    color: #fff;
    font-size: 15px;
    border: 1px solid #BC8417;
    font-weight: bold;
    font-family: $any-pro;
    letter-spacing: -0.5px;
    text-decoration: none;
    transition: 0.3s;
}
.btn2-mobile{
    overflow: visible;
    padding: 14px 22px;
    margin-top: 70px;
    margin-left: 0px;
    background-color: transparent;
    color: #070603;
    font-size: 15px;
    border: 1px solid #000000;
    font-weight: bold;
    font-family: $any-pro;
    letter-spacing: -0.5px;
    text-decoration: none;
    transition: 0.3s
}

.m1{
    position: absolute;
    z-index: 3;
    top: 112.5%;
    right: 0%;
}
.m2{
    position: absolute;
    z-index: 2;
    left: 30.5%;
    top: 127%;
    width: 127px;
    height: 127px;
}
.m3{
    position: absolute;
    z-index: 1;
    right: 55%;
}
.m4{
    position: absolute;
    z-index: 3;
    right: 12%;
    top: 106%;
}

.pytam-mobile{
    font-family: $im-fe;
    letter-spacing: -0.5px;
    font-size: 26px;
    padding: 10%;
    text-align: center;
}

.oferta-tytul{
    text-align: center;
    color: #BC8417;
    font-family: $im-fe;
    font-style: italic;
    font-size: 52px;
}

.odnosniki{
    padding-top: 15%;
    a { padding: 0; margin: 0}
}